
@{
    ViewData["Title"] = "LoginSucessfully";
}

<h4> Great you are Sucessfully Login</h4>

<div>
    <button onclick="location.href='@Url.Action("Index")'">View My Data</button>
    <button onclick="location.href='@Url.Action("GetCourses","Course")'">View All Courses</button>
    <button onclick="location.href='@Url.Action("ShowBatches","Batch")'">View All Batches</button>

</div>